.movie {
    margin: 0, auto;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-card {
        font-size: 1.125rem;
    }

    &-title {
        font-weight: 600;
    }

    &-count {
        font-size: 1rem;
        color: #fff;
        display: flex;
        justify-content: center;
    }

    &-grid {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        align-items: center;
        margin-left: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-none {
        display: flex;
        margin: 1rem;
        font-size: 1.25rem;
        text-align: center;
    }

}